<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao Blog do NodeJS</h1>
    <p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou
        informação.</p>
    <hr class="my-4">
    <p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Crie um conta</a>
</div>

<hr>
<h2>Postagens recentes: </h2>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">

        <h5>{{titulo}}</h5>
        <p>{{conteudo}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de publicação: {{data}}</small>

    </div>
</div>

{{else}}
<h4 class="mt-05"> Nenhuma postagem registrada!</h4>

{{/each}}