<h1>{{categoria.nome}}</h1>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">

        <h5>{{titulo}}</h5>
        <p>{{conteudo}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>

        <small>Data de publicação: {{data}}</small>

    </div>
</div>

{{else}}
<h4 class="mt-05"> Nenhuma postagem registrada!</h4>

{{/each}}